<ul class="sidebar-menu" data-widget="tree">
<!--    <li class="treeview">-->
<!--        <a href="{:url('news/index')}">-->
<!--            <i class="fa fa-newspaper-o"></i><span>新闻管理</span>-->
<!--            <span class="pull-right-container">-->
<!--                          <i class="fa fa-angle-left pull-right"></i>-->
<!--                        </span>-->
<!--        </a>-->
<!--        <ul class="treeview-menu">-->
<!--            <li><a href="{:url('news/index')}"><i class="fa fa-circle-o"></i>新闻列表</a></li>-->
<!--            <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>-->
<!--            <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>-->
<!--            <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>-->
<!--        </ul>-->
<!--    </li>-->
    <li class="treeview">
        <a href="#">
            <i class="fa fa-users"></i>
            <span>用户管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{:url('users/index')}"><i class="fa fa-street-view"></i>用户列表</a></li>
            <li><a href="{:url('users/code')}"><i class="fa fa-picture-o"></i> 会员统计</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-gears"></i>
            <span>会员设置</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{:url('member/index')}"><i class="fa fa-sun-o"></i>vip设置</a></li>
            <li><a href="{:url('member_bonus/index')}"><i class="fa fa-star"></i>会员对碰奖励设置</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-book"></i>
            <span>订单管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{:url('user/index')}"><i class="fa fa-cny"></i>充值列表</a></li>
            <li><a href="{:url('user/index')}"><i class="fa fa-bookmark"></i>话费订单</a></li>
            <li><a href="pages/UI/icons.html"><i class="fa fa-money"></i>提现订单</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-share-alt-square"></i>
            <span>管理员管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{:url('user/index')}"><i class="fa fa-user"></i>管理员列表</a></li>
            <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i>登录日志</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-cog"></i>
            <span>系统设置</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{:url('user/index')}"><i class="fa fa-user"></i>系统设置</a></li>
            <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i>修改密码</a></li>
        </ul>
    </li>


<!--    <li class="treeview">-->
<!--        <a href="{:url('manage/index')}"><i class="fa fa-folder"></i> <span>修改密码</span></a>-->
<!--    </li>-->

</ul>