{extend name="common" /}
<!-- 菜单开始 -->
{block name="menu"}
{include file="left" /}
{/block}
{block name="content"}
<style>
    tbody tr {
        height:100px;
    }
    tbody tr td{
        line-height:100px !important;
    }
</style>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="navbar navbar-default">
                <form action="" id="search-form2" class="navbar-form form-inline" method="get" onsubmit="return false">
                    <span class="control-label"><i class="fa fa-qrcode"></i>&nbsp;收款码管理</span>
                    <div class="pull-right">
                        <a href="{:url('news/add')}" class="btn btn-sm btn-info edit_btn"><i class="fa fa-plus"></i>添加</a>
                    </div>
                </form>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                <table id="example" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>手机号码</th>
                        <th>真实姓名</th>
                        <th>微信收款码</th>
                        <th>支付宝收款码</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="users" id="v"}
                    <tr>
                        <td>{$v.id}</td>
                        <td>{$v.phone}</td>
                        <td>{$v.real_name}</td>
                        <td><img src="{$v.wx_img}" style="height:100px;"></td>
                        <td><img src="{$v.zfb_img}" style="height:100px;"></td>
                        <td>
                            <a href="{:url('users/codeEdit',['id'=> $v.id])}"
                               class="btn btn-success btn-icon btn-circle btn-xs">上传收款码</a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.row -->
</section>
{/block}
{block name="js"}
<script>
    $(function () {
        $('#example').DataTable({
            "pagingType": "full_numbers",  //显示尾页和首页
            "aLengthMenu": [5,10,25,50,100],
            "language": {
                "sInfo": "当前显示第 _START_ 到第 _END_ 条，共 _TOTAL_ 条",
                "search":"搜索",
                "sInfoFiltered":"(从 _MAX_ 项结果过滤)",
                "lengthMenu":"显示_MENU_条记录",
                "zeroRecords":"对不起,暂时没有记录",
                "info":"第_PAGE_页/共_PAGES_页",
                "infoEmpty":"暂无信息",
                "paginate":{
                    "sFirst":"首页",
                    "previous":"上一页",
                    "next":"下一页",
                    "sLast":"尾页"
                }
            }
        });
    });

    $('.delete').on('click', function () {
        var id = $(this).eq(0).attr('data-id');
        var url = window.location.href;
        layer.confirm('确认删除该数据吗 ?', {
            btn: ['确认', '取消'] //按钮
        }, function () {
            $.post('{:url("news/delete")}', {id: id},
                function (data) {
                    if (data.code == 200) {
                        layer.msg('删除成功', {icon: 1});
                        setTimeout(function () {
                            window.location.href = url;
                        }, 2000);
                    } else {
                        layer.msg('删除失败', {icon: 2});
                    }
                })

        });
    });

</script>
{/block}
