{extend name="common" /}
<!-- 菜单开始 -->
{block name="menu"}
{include file="left" /}
{/block}
{block name="content"}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="navbar navbar-default">
                <form action="" id="search-form2" class="navbar-form form-inline" method="get" onsubmit="return false">
                    <span class="control-label"><i class="fa fa-street-view"></i>&nbsp;用户管理</span>
                    <div class="pull-right">

<!--                        <a href="{:url('news/add')}" class="btn btn-sm btn-info edit_btn"><i class="fa fa-plus"></i>添加</a>-->
                    </div>
                </form>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>手机号码</th>
                        <th>昵称</th>
                        <th>真实姓名</th>
                        <th>会员</th>
                        <th>上级</th>
                        <th>余额</th>
                        <th>奖金</th>
                        <th>性别</th>
                        <th>用户状态</th>
                        <th>实名状态</th>
                        <th>注册ip</th>
                        <th>最后登录</th>
                        <th>注册时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="users" id="v"}
                    <tr>
                        <td>{$v.id}</td>
                        <td>{$v.phone}</td>
                        <td>{$v.username}</td>
                        <td>{$v.real_name}</td>
                        <td>
                            {if $v.member_id == 0}普通用户
                            {else /}VIP{$v.member_id}
                            {/if}
                        </td>
                        <td>{$v.father}</td>
                        <td>{$v.money}</td>
                        <td>{$v.bonus}</td>
                        <td>{if $v.sex == 1}男
                            {else if $v.status==2 /}女
                            {/if}</td>
                        <td> {if $v.status == 1}<a class="btn btn-sm btn-success btn-xs">正常</a>
                            {else if $v.status==0 /}<a class="btn btn-sm btn-warning btn-xs">禁止登录</a>
                            {/if}
                        </td>
                        <td>
                            {if $v.rstatus == 0}<a class="btn btn-sm btn-danger btn-xs">未实名</a>
                            {else if $v.rstatus==1 /}<a class="btn btn-sm btn-success btn-xs">已实名</a>
                            {/if}
                        </td>
                        <td>{$v.reg_ip}</td>
                        <td>{$v.last_login_time}</td>
                        <td>{$v.created_at}</td>
                        <td>
                            <a href="{:url('users/members',['id'=> $v.id])}" class="btn btn-sm btn-primary btn-xs">我的团队</a>
                            <a data-id="{$v.id}" title="默认重置密码为123456" class="btn btn-sm btn-info  btn-xs reset">重置密码</a>
                            <a href="{:url('users/edit',['id'=> $v.id])}" class="btn btn-success btn-icon btn-circle btn-xs">充值</a>
                            {if $v.status == 1} <a data-id="{$v.id}" class="btn btn-sm btn-warning btn-xs forbidden">禁用</a>
                            {else if $v.status==0 /}<a data-id="{$v.id}" class="btn btn-sm btn-primary btn-xs open">启用</a>
                            {/if}

                            <a href="{:url('users/detail',['id'=> $v.id])}" class="btn btn-sm btn-info btn-xs">详情</a>
                            <a data-id="{$v.id}" href="javascript:void(0)" class="btn btn-danger btn-icon btn-circle btn-xs delete"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.row -->
</section>
{/block}
{block name="js"}
<script>

    $('.reset').on('click', function () {
        var id = $(this).eq(0).attr('data-id');
        var url = window.location.href;
        layer.confirm('确认重置该用户密码吗 ?', {
            btn: ['确认', '取消'] //按钮
        }, function () {
            $.post('{:url("users/reset")}', {id: id},
                function (data) {
                    if (data.code == 200) {
                        layer.msg(' 重置成功', {icon: 1});
                        setTimeout(function () {
                            window.location.href = url;
                        }, 2000);
                    } else {
                        layer.msg('重置失败', {icon: 2});
                    }
                })

        });
    });

    // 禁用
    $('.forbidden').on('click', function () {
        var id = $(this).eq(0).attr('data-id');
        var url = window.location.href;
        layer.confirm('确认禁用该用户吗 ?', {
            btn: ['确认', '取消'] //按钮
        }, function () {
            $.post('{:url("users/power")}', {id: id,type:2},
                function (data) {
                    if (data.code == 200) {
                        layer.msg(' 禁用成功', {icon: 1});
                        setTimeout(function () {
                            window.location.href = url;
                        }, 2000);
                    } else {
                        layer.msg('禁用失败', {icon: 2});
                    }
                })

        });
    });

    // 启用
    $('.open').on('click', function () {
        var id = $(this).eq(0).attr('data-id');
        var url = window.location.href;
        layer.confirm('确认启用该用户吗 ?', {
            btn: ['确认', '取消'] //按钮
        }, function () {
            $.post('{:url("users/power")}', {id: id,type:1},
                function (data) {
                    if (data.code == 200) {
                        layer.msg(' 启用成功', {icon: 1});
                        setTimeout(function () {
                            window.location.href = url;
                        }, 2000);
                    } else {
                        layer.msg('启用失败', {icon: 2});
                    }
                })

        });
    });

    $('.delete').on('click', function () {
        var id = $(this).eq(0).attr('data-id');
        var url = window.location.href;
        layer.confirm('确认删除该数据吗 ?', {
            btn: ['确认', '取消'] //按钮
        }, function () {
            $.post('{:url("news/delete")}', {id: id},
                function (data) {
                    if (data.code == 200) {
                        layer.msg('删除成功', {icon: 1});
                        setTimeout(function () {
                            window.location.href = url;
                        }, 2000);
                    } else {
                        layer.msg('删除失败', {icon: 2});
                    }
                })

        });
    });

    $('.add').on('click',function () {
        var id = $(this).eq(0).attr('data-id');
        layer.open({
            title:'充值',
            type: 2,
            area: ['400px', '350px'],
            fixed: false, //不固定
            maxmin: true,
            content: '{:url("users/recharge")}?id='+id
        });
    });

</script>
{/block}
