{extend name="common" /}
<!-- 菜单开始 -->
{block name="menu"}
{include file="left" /}
{/block}
{block name="content"}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="navbar navbar-default">
                <form action="" id="search-form2" class="navbar-form form-inline" method="get" onsubmit="return false">
                    <span class="control-label"><i class="fa fa-street-view"></i>&nbsp;
                        会员统计&nbsp;&nbsp;
                    </span>
                    <div class="pull-right">
                        会员总数: <span style="color: red">{$childTotal}</span> &nbsp;&nbsp;
                        余额总计: <span style="color: red">￥{$totalMoney} </span>&nbsp;&nbsp;
                        奖金总计: <span style="color: red">￥{$totalBonus}</span>&nbsp;&nbsp;
<!--                        <a href="{:url('news/add')}" class="btn btn-sm btn-info edit_btn"><i class="fa fa-plus"></i>添加</a>-->
                    </div>
                </form>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>手机号码</th>
                        <th>真实姓名</th>
                        <th>会员等级</th>
                        <th>上级</th>
                        <th>子级个数</th>
                        <th>充值统计</th>
                        <th>个人余额</th>
                        <th>团队余额</th>
                        <th>团队对碰奖金</th>
                        <th>团队剩余奖金</th>
                        <th>提现统计</th>
                        <th>话费统计</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="members" id="v"}
                    <tr>
                        <td>{$v.id}</td>
                        <td>{$v.phone}</td>
                        <td>{$v.real_name}</td>
                        <td>
                            {if $v.member_id == 0}<a class="btn btn-sm btn-primary btn-xs">普通用户</a>
                            {else /}<a class="btn btn-sm btn-info btn-xs">Vip{$v.member_id}</a>
                            {/if}
                        </td>
                        <td>{$v.father}</td>
                        <td>{$v.child_total}</td>
                        <td>
                            {$v.money_total}
                        </td>
                        <td>{$v.money}</td>
                        <td>{$v.last_money_total}</td>
                        <td>{$v.bonus_total}</td>
                        <td>{$v.last_bonus_total}</td>
                        <td>{$v.tixian_total}</td>
                        <td>{$v.recharge_total}</td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <!-- /.row -->
</section>
{/block}
{block name="js"}
<script>
    $('.delete').on('click', function () {
        var id = $(this).eq(0).attr('data-id');
        var url = window.location.href;
        layer.confirm('确认删除该数据吗 ?', {
            btn: ['确认', '取消'] //按钮
        }, function () {
            $.post('{:url("news/delete")}', {id: id},
                function (data) {
                    if (data.code == 200) {
                        layer.msg('删除成功', {icon: 1});
                        setTimeout(function () {
                            window.location.href = url;
                        }, 2000);
                    } else {
                        layer.msg('删除失败', {icon: 2});
                    }
                })

        });
    });

    $('.add').on('click',function () {
        var id = $(this).eq(0).attr('data-id');
        layer.open({
            title:'充值',
            type: 2,
            area: ['400px', '350px'],
            fixed: false, //不固定
            maxmin: true,
            content: '{:url("users/recharge")}?id='+id
        });
    });

</script>
{/block}
