<script src="../../../../public/static/adminlte2/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>{extend name="common" /}
<!-- 菜单开始 -->
{block name="menu"}
{include file="left" /}
{/block}
{block name="content"}

    <div class="col-md-12 box box-solid">
        <div class="panel-heading">
            <span class="control-label"><i class="fa fa-bookmark"></i>&nbsp;话费订单</span>
        </div>

        <div class="navbar navbar-default">
            <form action="" id="search-form2" class="navbar-form form-inline" method="get" onsubmit="return false">
                <label class="control-label">姓名</label>
                <input type="text" name="real_name" value="" placeholder="请输入姓名" class="form-control">
                <label class="control-label">手机号</label>
                <input type="text" name="phone" value="" placeholder="请输入手机号" class="form-control">
                <label class="control-label">单号</label>
                <input type="text" name="order_no" value="" placeholder="请输入单号" class="form-control">
                <label class="control-label">&nbsp;状态</label>
                <select class="form-control" name="status">
                    <option value="">全部</option>
                    <option value="0">待充值</option>
                    <option value="1">充值成功</option>
                    <option value="2">充值失败</option>
                </select>
                <label class="control-label">&nbsp;日期</label>
                <div class="input-group date">
                    <input type="text" class="form-control" name="start_date" placeholder="开始日期" id="start_date">
                </div>
                <div class="input-group date">
                    <input type="text" class="form-control" name="end_date"  placeholder="结束日期" id="end_date">
                </div>
                <button type="submit" onclick="javascript:document.getElementById('search-form2').submit();"
                        id="button-filter search-order" class="btn btn-primary"><i class="fa fa-search"></i>
                    筛选
                </button>
                <a href="{:url('mobile/index')}" class="btn btn-info edit_btn">清除</a>
            </form>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>id</th>
                    <th>姓名</th>
                    <th>手机</th>
                    <th>单号</th>
                    <th>充值金额</th>
                    <th>付款金额</th>
                    <th>状态</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="orders" id="v"}
                <tr>
                    <td>{$v.id}</td>
                    <td>{$v.real_name}</td>
                    <td>{$v.phone}</td>
                    <td>{$v.order_no}</td>
                    <td>{$v.price}</td>
                    <td>{$v.real_price}</td>
                    <td>
                        {if $v.status == 0} <a class="btn btn-sm btn-info btn-xs ">待充值</a>
                        {elseif $v.status == 1 /}<a class="btn btn-sm btn-success btn-xs ">充值成功</a>
                        {else/}<a class="btn btn-sm btn-danger btn-xs ">充值失败</a>{/if}
                    </td>
                    <td>{$v.created_at}</td>
                    <td>
                        {if $v.status == 0}
                        <a data-id="{$v.id}" class="btn btn-sm btn-info edit_btn btn-xs edit"><i class="fa fa-plus"></i>充值</a>
                        {/if}
                        <a data-id="{$v.id}" href="javascript:void(0)" class="btn btn-danger btn-icon btn-circle btn-xs delete" ><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {/volist}
                </tbody>

            </table>
        </div>
        <div class="row">
            {$orders->render()|raw}
        </div>
    </div>

{/block}
{block name="js"}
<script>
    $('#start_date').datepicker({
        pickTime: true,
        autoclose:true,
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
    });
    $('#end_date').datepicker({
        pickTime: true,
        autoclose:true,
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
    })
    $('.btn-confirm').on('click', function () {
        var id = $(this).eq(0).attr('data-id');
        var url = window.location.href;
        layer.confirm('确认删除该数据吗 ?', {
            btn: ['确认', '取消'] //按钮
        }, function () {
            $.post('{:url("news/delete")}', {id: id},
                function (data) {
                    if (data.code == 200) {
                        layer.msg('删除成功', {icon: 1});
                        setTimeout(function () {
                            window.location.href = url;
                        }, 2000);
                    } else {
                        layer.msg('删除失败', {icon: 2});
                    }
                })

        });
    });

</script>
{/block}



